.img-fluid {
    max-height: 4rem;
}

.navbar {
    background-color: gray;
}

.none-class {
    color: white;
    text-decoration: none;
}

.none-class:hover {
    color: black;
    text-decoration: none;
}