<!doctype html>
<html lang="ru" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Электронная библиотека</title>
</head>

<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-dark">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <a href="{{ url_for('index') }}">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                    </a>
                </div>
                <div class="navbar-brand">
                    <a href="{{ url_for('ticket') }}" class="none-class">Посмотреть информацию о фильме</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="alerts-area">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, msg in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show m-0 rounded-0" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endwith %}
    </div>

    <main class="main flex-grow-1 bg-white">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-dark text-white d-flex align-items-center justify-content-center py-3">
        &copy; "Кинотеатр"
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script defer src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>