{% extends 'base.html' %}


{% block content %}


<h1 class="title my-3 font-weight-bold text-center text-black">Расписание</h1>
<div class="container">
    <div class="h-100 text-center d-flex p-3">
        <div class="m-auto">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название фильма</th>
                        <th scope="col">Продолжительность</th>
                    </tr>
                </thead>
                <tbody>
                    {% for film in films %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="book-title">{{ film.title }}</td>
                        <td>{{ film.duration }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}